.template {
    display: none;
}

.glasses {
	position: relative;
	width: 100%;
	background-image: url(../img/glasses.jpg);
	height: 410px;
	width: 1200px;
}

.top-left {
	position: absolute;
	top: 60px; 
	left: 0;
	width: 100%;
	margin-left: 200px;
	font-size: 20px;
}

.left {
	position: absolute;
	top: 200px; 
	left: 0;
	width: 100%;
	margin-left: 150px;
	margin-top: 95px;
	font-size: 20px;
}

.top-right {
	position: absolute;
	top: 60px; 
	right: 0;
	width: 30%;
	font-size: 20px;
}
.right {
	position: absolute;
	top: 200px; 
	right: 0;
	width: 36%;
	margin-top: 95px;
	font-size: 20px;
}