body {
	font-size: 20px;
}
.template {
    display: none;
}

.glasses {
	position: relative;
	width: 100%;
	background-image: url(../img/glasses.jpg);
	height: 411px;
	width: 1200px;
}

.top {
	position: absolute;
	top: 70px; 
	left: 0;
	width: 15%;
	padding: 2px;
	margin-left: 520px;
	text-align: center;
	background-color: rgba(255, 255, 255, .7);
}

.bottom {
	position: absolute;
	top: 200px; 
	left: 0;
	width: 50%;
	margin-left: 330px;
	margin-top: 95px;
	text-align: center;
	background-color: rgba(255, 255, 255, .7);
}